body{
    margin: 0;
    padding:0;
}

nav{
    /* border: 2px solid rgb(27, 26, 26); */
    display: flex;
    height: 4vmax;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
    position: sticky;
    top: 0;
}

.left{
    /* border: 2px solid salmon; */
    width: 20%;
    justify-content: center;
    display: flex;
}
.left>a{
    color: crimson;
    text-decoration: none;
    font-size: 2vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 1px solid yellowgreen; */
}
.mid{
    width: 80%;
    /* border: 2px solid blue; */
    justify-content: space-evenly;
    display: flex;
    align-self: stretch;
}
.mid>a{
    text-decoration: none;
    color: black;
    /* border: 1px solid yellowgreen; */
    /* border-bottom: 2px solid blueviolet; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4vmax;

}

.mid>a:hover{
    border-bottom: 1px solid crimson;
    color: crimson;
}
.right{
    width: 20%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
}

.right>img{
    
    width: 2.5vmax;
}

.home{
    /* border: 1px solid red; */
    display: flex;
    height: 90vh;
    background-image: radial-gradient(rgb(183, 181, 211), white);
}
.container{
    border: 1px solid green;
    width: 100%;
    height: 100%;
}

#rightContainer{
    display: flex;
    justify-content: flex-end;
}

#rightContainer > img {
    margin-right: 7vmax;
    filter: drop-shadow(0 0 20px black);
}

#leftContainer{
    display: flex;
    flex-direction: column;
    padding: 3vmax;
    box-sizing: border-box;
    justify-content:center ;
    border: 1px solid red;
}

#leftContainer>h1{
    font-size: 5vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 1px solid red; */
}

#leftContainer>h2{
    margin-top: -8%;
    font-size: 2vmax;
    font-family: sans-serif;
    /* border: 1px solid red; */
}
#leftContainer>p{
    font-size: 1.2vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid red; */
    margin-left: 2%;
}

#leftContainer> button{
    width: 11vmax;
    margin-left: 2%;
    padding: 0.6vmax;
    border: none;
    border-radius: 2vmax;
    background-color: crimson;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

#leftContainer>button:hover{
    background-color: rgb(175, 29, 58);
    
}

/* ----------------------------------------- */
#products{
    height: 100vh;
}